
*{
  margin: 0;
  list-style: none;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Página - HOME*/

.header-home{
  width: 100vw;
  height: 180px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
  display: flex;
}
.logo-header{
  width: 400px;
  height: 120px;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 640px;
  background-image: url(/src/image/Logo-home-1.2.svg);
  background-position: center;
  background-size: cover;
}
.indice-header{
  width: 410px;
  height: 80px;
  margin-top: 64px;
  margin-right: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.produtos-home-header{
  width: 130px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}
.produtos-home-header:hover{
  box-shadow: 0px 3px 0px  #000;
}
.link-produtos{
  text-decoration: none;
  color: #000;
  letter-spacing: 1.0px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
}
.sobre-nos-home{
  width: 130px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.0px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
}
.sobre-nos-home:hover{
  box-shadow: 0px 3px 0px  #000;
}
.entrar-home{
  width: 130px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.0px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
}
.link-login{
  text-decoration: none;
  text-align: center;
  color: #000000;
  letter-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  cursor: pointer;
}
.entrar-home:hover{
  box-shadow: 0px 3px 0px  #000;
}
.img-header-home{
  width: 40px;
  height: 40px;
  margin-top: 78px;
  cursor: pointer;
}

/*Carrosel - HOME*/
#carouselExampleIndicators{
  width: 100vw;
  height: 772px;
  margin-top: 24px;
  display: flex;
}


/*Produtos - HOME*/

.div-titulo-home{
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
}
.titulo-produtos{
  width: 260px;
  height: 60px;
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: normal;
  cursor: pointer;
}
.titulo-produtos:hover{
  box-shadow: 0px 3px 0px  #000;
  cursor: pointer;
}

/* LINHA 1 - PRODUTOS - HOME */

.section-l1{
  width: 100vw;
  min-height: 100vh;
}
.linha1-produtos{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 36px;
}
.produto1{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-color: #fff;
  background-image: url(/src/image/Sobretudo1.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.produto2{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-image: url(/src/image/Sobretudo2.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.produto3{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-image: url(/src/image/Sobretudo3.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.produto4{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-image: url(/src/image/Sobretudo4.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.tipo-de-produto1{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 40px;
}
.tipo1{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.tipo2{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.tipo3{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.tipo4{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.linha1-descricao-produtos{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.descricao1{
  width: 360px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.descricao2{
  width: 360px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.descricao3{
  width: 360px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.descricao4{
  width: 360px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.valores-produtos{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.valor1-produto{
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.valor1-1{
  color: #a0a0a0;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.valor2-produto{
  width: 360px;
  height: 40px;
  display: flex;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.valor2-1{
  color: #8F8F8F;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.valor3-produto{
  width: 360px;
  height: 40px;
  display: flex;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.valor3-1{
  color: #8F8F8F;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.valor4-produto{
  width: 360px;
  height: 40px;
  display: flex;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.valor4-1{
  color: #8F8F8F;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.botoes-produtos-linha1{
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 40px;
}
.botao-produto1{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}
.botao-produto2{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}
.botao-produto3{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}
.botao-produto4{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}

/* LINHA 2 - PRODUTOS - HOME */

.div-titulo-home2{
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
}
.titulo-produto2{
  width: 260px;
  height: 60px;
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: normal;
  cursor: pointer;
}
.titulo-produto2:hover{
  box-shadow: 0px 3px 0px  #000;
  cursor: pointer;
}
.section-l2{
  margin: 0;
  min-height: 100vh;
  background-color: rgb(247, 247, 247);
}
.linha2-produtos{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.produto5{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-image: url(/src/image/Vestido1.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.produto6{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-image: url(/src/image/Vestido2.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.produto7{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-image: url(/src/image/Vestido3.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.produto8{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-image: url(/src/image/vestido4.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.tipo-de-produto2{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 40px;
}
.tipo5{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.tipo6{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.tipo7{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.tipo8{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.linha2-descricao-produtos{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.descricao5{
  width: 360px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.descricao6{
  width: 360px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.descricao7{
  width: 360px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.descricao8{
  width: 360px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.valores-produto2{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.valor5-produto{
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.valor5-1{
  color: #a0a0a0;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.valor6-produto{
  width: 360px;
  height: 40px;
  display: flex;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.valor6-1{
  color: #8F8F8F;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.valor7-produto{
  width: 360px;
  height: 40px;
  display: flex;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.valor7-1{
  color: #8F8F8F;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.valor8-produto{
  width: 360px;
  height: 40px;
  display: flex;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.valor8-1{
  color: #8F8F8F;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.botoes-produtos-linha2{
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 36px;
}
.botao-produto5{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}
.botao-produto6{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}
.botao-produto7{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}
.botao-produto8{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}

/*LINHA 3 - PRODUTOS - HOME*/

.section-l3{
  margin: 0;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}
.div-titulo-home3{
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
}
.titulo-produto3{
  width: 260px;
  height: 60px;
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 2px;
  font-weight: normal;
  cursor: pointer;
}
.titulo-produt3:hover{
  box-shadow: 0px 3px 0px  #000;
  cursor: pointer;
}
.linha3-produtos{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.produto9{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-image: url(/src/image/Acessorios1-brinco.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.produto10{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-image: url(/src/image/Acessorios2-colar.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.produto11{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-image: url(/src/image/Acessorios3-aneis.jpg);
  background-position: bottom;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.produto12{
  width: 360px;
  height: 400px;
  margin-top: 180px;
  background-image: url(/src/image/Acessorios4-brincos2.jpg);
  background-position: bottom;
  background-size: cover;
  box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.tipo-de-produto3{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 40px;
}
.tipo9{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.tipo10{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.tipo11{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.tipo12{
  width: 360px;
  height: 20px;
  font-size: 16px;
  letter-spacing: .80px;
}
.linha3-descricao-produtos{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.descricao9{
  width: 360px;
  height: 100px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.descricao10{
  width: 360px;
  height: 100px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.descricao11{
  width: 360px;
  height: 100px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.descricao12{
  width: 360px;
  height: 100px;
  height: 38px;
  font-size: 24px;
  letter-spacing: .80px;
}
.valores-produto3{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.valor9-produto{
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.valor9-1{
  color: #a0a0a0;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.valor10-produto{
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.valor10-1{
  color: #a0a0a0;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.valor11-produto{
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.valor10-1{
  color: #a0a0a0;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.valor11-produto{
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.valor11-1{
  color: #a0a0a0;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}
.valor12-produto{
  display: flex;
  width: 360px;
  height: 40px;
  justify-content: baseline;
  font-size: 24px;
  margin-top: 10px;
  gap: 10px;
  letter-spacing: 0.75px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.valor12-1{
  color: #a0a0a0;
  text-decoration: line-through;
  letter-spacing: 0.75px;
}

.botoes-produtos-linha3{
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 36px;
}
.botao-produto9{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}
.botao-produto10{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}
.botao-produto11{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}
.botao-produto12{
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.80px;
  cursor: pointer;
}

/* FOOTER */

.footer{
  width: 100vw;
  height: 400px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  margin-top: 100px;
}
.logo-footer{
  width: 400px;
  height: 120px;
  margin-top: 20px;
  background-image: url(/src/image/Logo-footer.svg);
  background-position: center;
  background-size: cover;
}
.ul-footer{
  display: flex;
  gap: 60px;
  margin-top: 26px;
}
.ul1-footer{
  font-size: 20px;
  letter-spacing: 4px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
}
.ul1-footer:hover{
  box-shadow: 0px 3px 0px  #000;
}
.ul2-footer{
  font-size: 20px;
  letter-spacing: 4px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
}
.ul2-footer:hover{
  box-shadow: 0px 3px 0px  #000;
}
.ul3-footer{
  font-size: 20px;
  letter-spacing: 4px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: pointer;
}
.ul3-footer:hover{
  box-shadow: 0px 3px 0px  #000;
}
.redes-sociais-footer{
  width: 100vw;
  height: 60px;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.pinterest{
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.instagram{
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.email{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.direitos-reservados{
  margin-top: 40px;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*PÁGINA LOGIN*/

.container {
  width: 768px;
  max-width: 100%;
  min-height: 800px;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.form-control {
  width: 100%;
  position: relative;
}
.form-control2 {
  width: 100%;
  position: relative;
}
.form-control2 span {
  position: absolute;
  border-bottom: 3px solid #2691d9;
  left: 0;
  bottom: 8px;
  width: 0%;
  transition: all 0.3s ease;
}
.form-control2 input:focus ~ span {
  width: 100%;
}
.form-control small {
  color: red;
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 12px;
  z-index: 100;
}
.form-control span {
  position: absolute;
  border-bottom: 3px solid #2691d9;
  left: 0;
  bottom: 8px;
  width: 0%;
  transition: all 0.3s ease;
}
.form-control input:focus ~ span {
  width: 100%;
}
.form-control2 small {
  color: red;
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 12px;
  z-index: 100;
}
.form-control2 span {
  position: absolute;
  border-bottom: 3px solid #2691d9;
  left: 0;
  bottom: 8px;
  width: 0%;
  transition: all 0.3s ease;
}
.form-control2 input:focus ~ span {
  width: 100%;
}
.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container.right-panel-active .login-container {
  transform: translateX(100%);
}
.register-container {
  /* position: relative; */
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.container.right-panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
.body {
  margin: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.titulo-login{
  margin-top: 28px;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
}
input {
  width: 100%;
  background-color: #fff;
  outline: none;
  border: none;
  border-bottom: 2px solid #adadad;
  padding: 12px 0px;
}
form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.email-2{
  margin-top: 14px;
  letter-spacing: 2px;
}
.password-2{
  margin-top: 14px;
  letter-spacing: 2px;
}
.content {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-around;
}
.content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox input{
  width: 10px;
  height: 10px;
}
.content input {
  accent-color: #333;
  min-width: 20px;
  min-height:20px;
}
.content label{
  width: 140px;
  letter-spacing: 2px;
  cursor: pointer;
}
.esquecer-senha{
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
}
.a-esquecer-senha {
  color: #333;
  font-size: 18px;
  text-decoration: none;
  margin: 15px 0;
  transition: 0.3s ease-in-out;
}
.a-esquecer-senha:hover {
  color: #717171;
}
.botao-login{
  width: 160px;
  height: 48px;
  margin-top: 40px;
  padding: 0;
  border: none;
  color: #fff;
  letter-spacing: 4px;
  background-color: #000;
}
.subtitulo-botao-login{
  width: 160px;
  font-size: 14px;
  margin-top: 40px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
}
.social-container {
  margin: 40px ;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.facebook-login{
  width: 44px;
  height: 44px;
  background-image: url(/src/image/facebook.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.google-login{
  width: 46px;
  height: 46px;
  background-image: url(/src/image/google.png);
  background-position: center;
  background-size: cover;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.email-login{
  width: 46px;
  height: 46px;
  background-image: url(/src/image/o-email.png);
  background-position: center;
  background-size: cover;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
.overlay-container {
  background-image: url("/src/image/pexels-cottonbro-10176433.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.titulo-overlay{
  margin-top: 60px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
}
.container.right-panel-active .overlay-container {
  transform: translate(-100%);
}
.overlay {
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.container.right-panel-active .overlay {
  transform: translateX(50%);
}
.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-left {
  transform: translateX(-20%);
}
.container.right-panel-active .overlay-left {
  transform: translateX(0);
}
.overlay-right {
  right: 0;
  transform: translateX(0);
}
.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
.ghost{
  position: relative;
  border-radius: 20px;
  border: 1px solid #686c78;
  background-color: #686c78;
  color: #fff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  margin: 20px;
  padding: 12px 80px;
  letter-spacing: 4px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.ghost:hover {
  letter-spacing: 6px;
}
.ghost:active {
  transform: scale(0.95);
}
.ghost:focus {
  outline: none;
}
.ghost {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  color: #fff;
}
#login i {
  position: absolute;
  left: 50px;
}

#register i {
  position: absolute;
  right: 50px;
}
.ghost i {
  position: absolute;
  opacity: 1;
  transition: 0.3s ease-in-out;
  z-index: 6;
}
.ghost i.register {
  right: 70px;
}
.ghost i.login {
  left: 70px;
}

/*REGISTER*/
.titulo-register{
  margin-top: 30px;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
}
.form-control{
  margin-top: 46px;
  letter-spacing: 2px;
}
.nome-register{
  margin-top: 14px;
  letter-spacing: 2px;
}
.email-register{
  margin-top: 14px;
  letter-spacing: 2px;
}
.passaword-register{
  margin-top: 14px;
  letter-spacing: 2px;
}
.botao-register{
  width: 160px;
  height: 48px;
  margin-top: 40px;
  padding: 0;
  border: none;
  color: #fff;
  letter-spacing: 4px;
  background-color: #000;
}
.subtitulo-botao-register{
  width: 160px;
  font-size: 14px;
  margin-top: 40px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
}
